# Dependências
node_modules/

# Build
build/
dist/

# Arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambientes
.env
.env.*

# Relatórios
coverage/
*.lcov

# IDEs / Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos do sistema
.DS_Store
Thumbs.db

# Cache de ferramentas
.cache/
.eslintcache
.next/
out/
*.tgz
